@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
* {
  font-family: "Righteous", cursive;
}

* ::before,
* ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div {
  border: 0px solid #000;
}

header .main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-color: #e8e1ca;
  color: #140d2e;
  height: 40.6vh;
}

header .main-header .main-subhead-one {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

header .main-header .main-subhead-one h1 {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-left: 40px;
}

header .main-header .main-subhead-two {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

header .main-header .main-subhead-two .header-img-base {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0;
}

header .main-header .main-subhead-two .header-img-base .bwa-logo {
  position: absolute;
  z-index: 1;
  display: block;
  width: 18%;
  height: 12.5vh;
  right: 0px;
}

header .main-header .main-subhead-two .header-img-base .header-img {
  width: 100%;
  height: 40.6vh;
}

nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  min-height: 1.8vh;
  background-color: #140d2e;
}

nav .links .link-base {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

nav .links .link-base ul {
  list-style-type: none;
}

nav .links .link-base ul li {
  display: inline;
}

nav .links .link-base ul li a {
  text-decoration: none;
  color: #e8e1ca;
  font-size: 0.8rem;
  margin-left: 5px;
}

nav .links .link-base ul li #home {
  color: #726e6b;
}

section .club-guide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

section .club-guide-container .club-guide {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

section .club-guide-container .club-guide .club-guide-base {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  min-height: 21.6vh;
  -webkit-filter: box-shadow;
          filter: box-shadow;
}

section .club-guide-container .club-guide .club-guide-base .club-guide-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  border-radius: 20px 0 0 20px;
  -webkit-box-shadow: 0px 0px 10px 4px #888888;
          box-shadow: 0px 0px 10px 4px #888888;
}

section .club-guide-container .club-guide .club-guide-base .club-guide-img #club-guide {
  width: 100%;
  height: 100%;
}

section .club-guide-container .club-guide .club-guide-base .club-guide-content {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-color: #726e6b;
  border-radius: 0 20px 20px 0;
  -webkit-box-shadow: 0px 0px 10px 4px #888888;
          box-shadow: 0px 0px 10px 4px #888888;
}

section .club-guide-container .club-guide .club-guide-base .club-guide-content p a {
  text-decoration: none;
  color: #140d2e;
  font-size: 0.9rem;
  padding: 10px;
  display: block;
  margin-top: 15px;
}

section .club-guide-container .club-guide .club-guide-base .club-guide-content span {
  display: none;
}

section .club-guide-container .club-guide .club-guide-base .club-guide-content button {
  display: none;
}

section .white-space-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 10.3vh;
}

section .white-space-container .white-space {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

main .onboarding-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-color: #e8e1ca;
}

main .onboarding-container .onboarding-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

main .onboarding-container .onboarding-text h2 {
  color: #140d2e;
  margin-left: 20px;
  margin-top: 40px;
  font-size: 1.4rem;
}

main .onboarding-container .onboarding-text button {
  border: 1px solid #726e6b;
  margin-left: 20px;
  background-color: #726e6b;
}

main .onboarding-container .onboarding-text button a {
  text-decoration: none;
  color: #e8e1ca;
  font-size: 0.8rem;
  display: block;
  text-align: center;
}

main .onboarding-container .onboarding-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

main .onboarding-container .onboarding-img .onboarding {
  width: 100%;
}

footer .white-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 10.3vh;
}

footer .white-space .white-space-base {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background-color: #140d2e;
  min-height: 10.3vh;
}

footer .footer-container .footer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

footer .footer-container .footer p {
  color: #e8e1ca;
  font-size: 1rem;
  text-align: center;
}

@media only screen and (min-width: 360px) {
  header .main-header .main-subhead-one h1 {
    font-size: 1.6rem;
    margin-top: 30px;
    margin-left: 50px;
  }
  nav .links .link-base ul li:first-child {
    margin-left: 22px;
  }
  section .club-guide-container .club-guide .club-guide-base .club-guide-content p a {
    font-size: 1.3rem;
    text-align: center;
    margin-top: 40px;
  }
}

@media only screen and (min-width: 375px) {
  header .main-header .main-subhead-one h1 {
    font-size: 1.8rem;
    margin-top: 40px;
    margin-left: 50px;
  }
  nav .links .link-base ul li:first-child {
    margin-left: 25px;
  }
}

@media only screen and (min-width: 425px) {
  .container {
    max-width: 425px;
    margin: auto;
  }
  header .main-header .main-subhead-one h1 {
    font-size: 1.4rem;
    margin-top: 0px;
    margin-left: 50px;
  }
  nav .links .link-base ul li a {
    font-size: 1rem;
  }
  section .club-guide-container .club-guide .club-guide-base .club-guide-content p a {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 20px;
  }
  main .onboarding-container .onboarding-text h2 {
    font-size: 1.8rem;
  }
  main .onboarding-container .onboarding-text button {
    padding: 5px;
  }
  main .onboarding-container .onboarding-text button a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 571px) {
  .container {
    max-width: 571px;
    margin: auto;
  }
  header .main-header {
    height: 50.8vh;
  }
  header .main-header .main-subhead-one h1 {
    font-size: 1.9rem;
    margin-left: 60px;
  }
  header .main-header .main-subhead-two .header-img-base .bwa-logo {
    width: 16%;
    height: 13.5vh;
  }
  header .main-header .main-subhead-two .header-img-base .header-img {
    height: 50.8vh;
  }
  nav .links .link-base ul li a {
    margin-left: 10px;
  }
  nav .links .link-base ul li:first-child {
    margin-left: 65px;
  }
  section .club-guide-container .club-guide .club-guide-base .club-guide-content p a {
    font-size: 1.4rem;
    margin-top: 40px;
  }
  main .onboarding-container .onboarding-text h2 {
    font-size: 2rem;
    margin-left: 40px;
  }
  main .onboarding-container .onboarding-text button {
    padding: 7px;
    margin-left: 40px;
  }
  main .onboarding-container .onboarding-text button a {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: auto;
  }
  header .main-header {
    height: 60.8vh;
  }
  header .main-header .main-subhead-one h1 {
    font-size: 2.3rem;
    margin-left: 100px;
  }
  header .main-header .main-subhead-two .header-img-base .bwa-logo {
    width: 14%;
  }
  header .main-header .main-subhead-two .header-img-base .header-img {
    height: 60.8vh;
  }
  nav .links .link-base ul li a {
    margin-left: 40px;
  }
  nav .links .link-base ul li:first-child {
    margin-left: 70px;
  }
  section .club-guide-container .club-guide .club-guide-base .club-guide-content p {
    display: none;
  }
  section .club-guide-container .club-guide .club-guide-base .club-guide-content span {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #323131;
    font-size: 1rem;
    padding: 10px;
  }
  section .club-guide-container .club-guide .club-guide-base .club-guide-content button {
    display: block;
    background-color: #140d2e;
    border: 2px solid #140d2e;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  section .club-guide-container .club-guide .club-guide-base .club-guide-content button a {
    text-decoration: none;
    color: #e8e1ca;
    font-size: 0.8rem;
    display: block;
    text-align: center;
  }
  main .onboarding-container .onboarding-text h2 {
    font-size: 2.6rem;
    margin-left: 60px;
    margin-top: 60px;
  }
  main .onboarding-container .onboarding-text button {
    padding: 9px;
    margin-left: 60px;
  }
  main .onboarding-container .onboarding-text button a {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 900px) {
  .container {
    max-width: 900px;
    margin: auto;
  }
  header .main-header {
    height: 70.8vh;
  }
  header .main-header .main-subhead-one h1 {
    font-size: 2.8rem;
    margin-left: 120px;
  }
  header .main-header .main-subhead-two .header-img-base .bwa-logo {
    width: 12%;
  }
  header .main-header .main-subhead-two .header-img-base .header-img {
    height: 70.8vh;
  }
  section .club-guide-container .club-guide .club-guide-base .club-guide-content span {
    font-size: 1.2rem;
  }
  section .club-guide-container .club-guide .club-guide-base .club-guide-content button a {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: auto;
  }
  header .main-header {
    height: 80.8vh;
  }
  header .main-header .main-subhead-one h1 {
    font-size: 3.4rem;
    margin-left: 140px;
    margin-top: 20px;
  }
  header .main-header .main-subhead-two .header-img-base .bwa-logo {
    width: 10%;
  }
  header .main-header .main-subhead-two .header-img-base .header-img {
    height: 80.8vh;
  }
  nav .links .link-base ul li a {
    margin-left: 70px;
    font-size: 1.3rem;
  }
  nav .links .link-base ul li:first-child {
    margin-left: 80px;
  }
  section .club-guide-container .club-guide .club-guide-base .club-guide-content span {
    font-size: 1.4rem;
    margin-top: 40px;
  }
  section .club-guide-container .club-guide .club-guide-base .club-guide-content button a {
    font-size: 1.2rem;
  }
  main .onboarding-container .onboarding-text h2 {
    font-size: 3.2rem;
    margin-left: 70px;
    margin-top: 100px;
  }
  main .onboarding-container .onboarding-text button {
    padding: 11px;
    margin-left: 70px;
  }
  main .onboarding-container .onboarding-text button a {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    margin: auto;
  }
  header .main-header .main-subhead-one h1 {
    font-size: 4.3rem;
    margin-left: 200px;
    margin-top: 30px;
  }
  header .main-header .main-subhead-two .header-img-base .bwa-logo {
    width: 8%;
  }
  nav .links .link-base ul li a {
    margin-left: 100px;
    font-size: 1.6rem;
  }
  nav .links .link-base ul li:first-child {
    margin-left: 100px;
  }
  section .club-guide-container .club-guide .club-guide-base .club-guide-content span {
    font-size: 1.8rem;
    margin-top: 60px;
  }
  section .club-guide-container .club-guide .club-guide-base .club-guide-content button a {
    font-size: 1.4rem;
  }
  main .onboarding-container .onboarding-text h2 {
    font-size: 4.5rem;
    margin-left: 90px;
    margin-top: 140px;
  }
  main .onboarding-container .onboarding-text button {
    padding: 13px;
    margin-left: 90px;
  }
  main .onboarding-container .onboarding-text button a {
    font-size: 1.8rem;
  }
  footer .footer-container .footer p {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 2560px) {
  .container {
    max-width: 2560px;
    margin: auto;
  }
  header .main-header .main-subhead-one h1 {
    font-size: 7.5rem;
    margin-left: 240px;
    margin-top: 100px;
  }
  header .main-header .main-subhead-two .header-img-base .bwa-logo {
    width: 6%;
  }
  nav .links .link-base ul li a {
    margin-left: 150px;
    font-size: 2.3rem;
  }
  nav .links .link-base ul li:first-child {
    margin-left: 150px;
  }
  section .club-guide-container .club-guide .club-guide-base .club-guide-content span {
    font-size: 2.8rem;
    margin-top: 30%;
  }
  section .club-guide-container .club-guide .club-guide-base .club-guide-content button a {
    font-size: 1.8rem;
  }
  main .onboarding-container .onboarding-text h2 {
    font-size: 9rem;
    margin-left: 120px;
    margin-top: 250px;
  }
  main .onboarding-container .onboarding-text button {
    padding: 20px;
    margin-left: 120px;
  }
  main .onboarding-container .onboarding-text button a {
    font-size: 4rem;
  }
  footer .footer-container .footer p {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=index.css.map */